---
title: sudoグループに所属するユーザーを作る
date: '2025-04-27'
image: '/images/posts/no_image.png'
---

CentOS Stream9で、新規ユーザーを作成してsudo権限を付与する。
```
adduser <ユーザー名>

passwd <ユーザー名>

sudo gpasswd -a <ユーザー名> wheel
```