---
title: sudoグループに所属するユーザーを作る
date: '2025-04-27'
image: '/images/posts/no_image.png'
---

CentOS Stream9で、新規ユーザーを作成してsudo権限を付与する。
# sudoとは
superuser doの略で、rootの権限でコマンドを実行できます。  
コマンドの前に sudo をつけ、自身のパスワードを入力することで実行することができます。  

<br>

# 注意点
sudo は前述のとおり、rootの権限でコマンドを実行できるものなので、どんなに権限周りが守られていても使い方を間違えればシステムの破損につながる可能性があります。  
であるため、sudo の実行を許可するユーザーはしっかりと考えましょう。  
さらに、そのユーザーのパスワードが容易だと脆弱性につながるので注意が必要です。  

<br>


# sudo権限の付与
一般ユーザーをwheelグループに割り当てることで sudo 権限を付与することができます。

```
adduser <ユーザー名>

passwd <ユーザー名>

sudo gpasswd -a <ユーザー名> wheel
```